<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <!-- Datos del Servidor de Base de Datos -->
    <add key="SERVIDOR" value="FT-DEVELOPER" />
    <add key="BASE" value="Matriculacion" />
    <add key="USUARIO" value="sa" />
    <add key="DBPASSWORD" value="saservices" />
    <!-- Fin-->
  </appSettings>
</configuration>